$base-font-size-px: 16;
@import 'resources/assets/styles/common/functions';
@import 'resources/assets/styles/common/variables';
@import 'resources/assets/styles/common/mixins';

.prf-assets-notice {
    color: $brand_gray;
    margin-top: 1.5em;
    margin-bottom: -0.5em;
    font-size: 90%;
    text-align: center;
}
