@mixin buttons {
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .prfw-btn {
        &-primary {
            @include button_primary();

            padding: 2.5rem 3rem;

            &:after {
                display: none;
            }
        }

        &-outline {
            @include button_outline();
        }

        &-plus {
            display: flex;
            align-items: center;

            svg {
                width: 0.65em;
                height: 0.65em;
                margin-right: 0.5em;
                fill: $brand_primary;
            }
        }

        &-delete {
            position: relative;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 75%;
                transform: translate(-50%, -50%);

                @at-root {
                    #delete {
                        fill: currentColor;
                    }
                }
            }
        }

        &-save,
        &-view,
        &-cancel,
        &-delete {
            display: inline-block;
            min-width: em(32, 14);
            height: 22px;
            padding: 2px 0.8em;
            line-height: 22px;
            text-transform: uppercase;
            vertical-align: middle;
            cursor: pointer;

            @if ($brand_button_radius) {
                border-radius: $brand_button_radius;
            }
        }

        &-delete {
            display: none;
        }

        &-skip,
        &-submit,
        &-next,
        &-prev {
            @include button_outline();

            display: inline-block;
            text-transform: uppercase;
        }

        &-view {
            padding: 0 0.8em;
            vertical-align: middle;
            border: 1px solid #000;

            &:hover {
                color: $brand_dark;
                background: $button_primary_background_hover;
                border-color: $button_primary_background_hover;
            }
        }

        &-save {
            margin-left: 5px;
            color: $brand_white;
            background: $button_primary_background;

            &:hover {
                background: $brand_gray;
            }
        }

        &-cancel,
        &-delete {
            padding: 1px 6px;
            color: $brand_danger;
            border: 1px solid $brand_danger;

            &:hover {
                color: #fff;
                background: $brand_danger;
            }
        }

        &-edit {
            display: block;
            width: 2rem;
            height: 2rem;
            text-indent: -9999px;
            cursor: pointer;
            background: transparent #{$edit_button_css_icon} no-repeat center / 1.5rem;
            border-radius: 4px;

            &:hover {
                background-color: rgba($brand_secondary, 0.5);
                background-image: str-replace($edit_button_css_icon, '4fc4c7', 'ffffff');
            }
        }

        &-reset-password {
            @include button_outline();
            padding: 0.6rem 1.6rem;
            margin-left: 1rem;
        }

        &-group {
            display: flex;
            justify-content: left;
            align-items: center;
        }
    }
}
