/* stylelint-disable */

.slick-slide .acfm-account-types {
    justify-content: center;
}

.acfm-account-types {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1em auto;
    text-align: center;
    list-style: none;
    gap: 3rem;

    &__svg {
        @include top-svg();
    }

    &__item {
        max-width: em(324, 16);
        height: 100%;
        background: $brand_white;
        border: 1px solid #d4d4d4;
        border-radius: 2rem;

        @media #{$navbar_until_breakpoint} {
            margin-top: 12rem;
        }

        @media #{$xl} {
            flex: 1;
        }

        &.popular {
            border-top: 8px solid $brand_primary;
        }

        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            padding: 4rem;
            margin: 0 auto;
            border-radius: 6rem 0;
            transition: 0.4s ease;

            .popular & {
                position: relative;
                padding-top: 4.4rem;
            }
        }

        .ng-scope {
            padding: 1.2rem 4.5rem;
            color: $brand_white;
            white-space: nowrap;
            background: $brand_primary;
            border-radius: 3rem;
        }
    }

    .first-group {
        display: block;
    }

    .second-group {
        display: none;
    }

    &__popular {
        @include font-size-xs();
        position: absolute;
        top: -5rem;
        left: 50%;
        max-width: fit-content;
        padding-left: 3rem;
        font-weight: $font_weight_medium;
        text-align: center;
        white-space: nowrap;
        content: 'Most Popular Choice';
        background: no-repeat
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.667 20'%3E%3Cpath fill='%231d1d1b' fill-rule='evenodd' d='M3.333.833A.833.833 0 0 1 4.167 0H12.5a.833.833 0 0 1 .833.833V2.5a.833.833 0 0 1-.244.589L12 4.18a8.333 8.333 0 1 1-7.33 0L3.577 3.089a.833.833 0 0 1-.244-.589zm5 6.667a.833.833 0 0 1 .793.576L9.687 9.8H11.5a.833.833 0 0 1 .49 1.508l-1.469 1.068.561 1.727a.833.833 0 0 1-1.282.932L8.333 13.97l-1.469 1.068a.833.833 0 0 1-1.282-.932l.561-1.727-1.47-1.068a.833.833 0 0 1 .49-1.511H6.98l.561-1.727a.833.833 0 0 1 .792-.573z' data-name='Path 4492'/%3E%3C/svg%3E");
        transform: translateX(-50%);
    }

    &__title {
        @include responsive-font(32);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        font-weight: $font_weight_bold;
        line-height: 1.2;
        color: $brand_primary;

        .popular & {
            color: $brand_primary;
        }
    }

    &__subtitle {
        position: relative;
        right: 2.5rem;
        font-weight: $font_weight_medium;
        white-space: nowrap;
    }

    &__fields {
        padding: 0;
        margin: 4rem 0;
        text-align: left;
        list-style: none;
    }

    &__value {
        position: relative;
        display: flex;
        display: list-item;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem 0;
        line-height: 1.3;
        gap: 1rem;

        &::before {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 1rem;
            content: '';
            background: no-repeat
                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10"><path fill="%23E33645" fill-rule="evenodd" d="M9.99979 9V1a1 1 0 0 0-1-1h-8a1 1 0 0 0-.707 1.707l8 8a.9999.9999 0 0 0 .51197.27358A1.00004 1.00004 0 0 0 9.99979 9Z" clip-rule="evenodd"/></svg>');
        }

        b {
            font-weight: inherit;
            text-decoration: underline;
        }
    }

    &__buttons {
        margin-top: 2rem;

        .acfm-btn-primary {
            @include responsive-font(14);
        }
    }

    .svg-x {
        width: 20px;
        height: 20px;
    }

    .svg-check {
        width: 18px;
        min-width: 18px;
        height: 19px;
        padding: 4px;
        background: $brand_icon;
        border-radius: 5rem;
        fill: $brand_white;
    }

    .slick-slide {
        &:focus,
        &:hover {
            outline: none;
        }
    }

    .slick-dots {
        @include responsive-font(14);
        position: absolute;
        top: -4em;
        bottom: initial;
        left: 0;
        text-align: center;

        @media #{$sm} {
            @include responsive-font(16);
        }

        li {
            margin: 0.2em 0.4em;
        }

        .slick-active {
            .tab-title {
                color: $brand_white;
                background-color: $brand_primary;
            }
        }

        .tab-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 1.2em 1em 1.1em;
            color: $brand_dark;
            background-color: $brand_light;
            border-radius: $brand_border_radius;
        }
    }

    &__switcher {
        @include transition();
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 1.3rem;
        margin: 0.5rem;
        font-weight: $font_weight_medium;
        color: $brand_white;
        //white-space: nowrap;
        border-radius: $brand-border_radius;

        &:hover,
        &:focus {
            color: $brand_white;
            background: rgba($brand_primary, 0.6);
        }

        &.active {
            @include transition();
            color: $brand_dark;
            background: $brand_white;
            border-radius: 5rem;
        }

        &-wrapper {
            position: relative;
            display: none;
            width: fit-content;
            min-width: 30rem;
            margin: 0 auto 4rem;
            background: $brand_primary;
            border-radius: 5rem;

            @media #{$lg} {
                display: flex;
            }
        }

        &:lang(el) {
            white-space: nowrap;
        }
    }

    &__text {
        text-align: left;
    }

    .acfm-btn-primary:hover::after {
        top: 0;
    }
}
