.acfm-btn {
    @include button_lg();

    &-primary {
        @include button_primary();
    }

    &-secondary {
        @include button_secondary();
    }

    &-outline {
        @include button_outline();
    }

    &-more {
        @include button_more();
    }

    @media #{$md} {
        &:not(:first-child) {
            margin-left: 1em;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.acfm-buttons {
    margin-bottom: 1em;

    @media #{$md} {
        margin-bottom: 0.5em;
    }
}
