WIDGETS_URL=
BRAND_ID=
DEFAULT_LANG=

DEFAULT_GUEST_PLATFORM_TYPE=
DOCUMENT_DOMAIN=
SELECTED_PLATFORM=
CRM_ENV=

CFD_PLATFORM_URL=
CFD_PLATFORM_VERSION=
CFD_PLATFORM_TOKEN=
CFD_PLATFORM_THEME=

BUNDLE_PLATFORM_URL=
BUNDLE_PLATFORM_VERSION=
BUNDLE_PLATFORM_TOKEN=
BUNDLE_PLATFORM_THEME=

MT4_PLATFORM_URL=
