#!/usr/bin/env bash
LOCAL_USER="rond"
LOCAL_DOCKER_USER="www-data"
LOCAL_WORDPRESS_DIRECTORY="wordpress"
LOCAL_DIRECTORY="weifer"
LOCAL_DOCKER_NAMESPACE="weifer"
LOCAL_DB_EXPORT_NAME="weifer-test"
LOCAL_SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+v5DIoSb50N4rIcANwp2j0PNonP1WFbTsfHgJNQfWOHm3meLiAkshNCALWTrPgTz/3RYxHneutPc32AnPWIO8HbMZ1KgPc2S2bdLTUxMgpeSlpmSTqPsMFXQ2ZrPaOCRCQljeMEgOX9ta+jwzBMX4hUwxkS+knOjkynmrrIRqCjRMD55hiSaSDRVqb/uEfreueNPBTATwW0SJDKREVv+KNVyvhSL2vhjVZEEz6YgVLpX34m8qKpsdtIvY7OsGhEXPYW2Vu5l3WwOTsAT50atDjfL5HRZ1lnpALP9FaPtVOJSb6OrzR1Zr9yZ6TaGMhJGpftImtp5f1oVVvDg2eGsZ work"
