prf-refer-a-friend-widget {
    button.p-button {
        background-color: rgb(31, 62, 249);
        border-top: 1px solid rgb(242, 242, 244);
        border-right: 1px solid rgb(242, 242, 244);
        border-bottom: 1px solid rgb(242, 242, 244);
    }
}
