//stylelint-disable selector-class-pattern

.error404 {
    .prfwp-main {
        padding: 10em 0;
        color: $brand_secondary;

        .prfwp-hero {
            &__title {
                @include font-size-xl();

                line-height: 1.3em;
            }
        }
    }

    .acfm-btn {
        margin: 1em 0;
    }
}
