// stylelint-disable
.open-account .acfm-footer-main hr,
.open-account-de .acfm-footer-main hr {
    display: none;
}

.acfm-footer-main {
    @include font-size-xs();
    position: relative;
    overflow: hidden;
    &__title {
        @include responsive-font(25);
        padding-bottom: 0.5em;
        font-weight: $font_weight_bold;
        color: $brand_primary;
    }

    a {
        @include transition(color, 300ms);

        &:hover,
        &:active {
            color: $brand_primary;
        }
    }

    .acfm-row {
        padding: 2rem 0;
        @media #{$md} {
            padding: 4rem 0;
        }

        &__col:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
