/* stylelint-disable */

.acfm-footer-logo {
    display: flex;
    justify-content: center;

    &__link {
        display: block;
        height: 10rem;
        margin-bottom: 2em;
        color: currentColor;

        svg {
            position: relative;
            left: 15%;
            @media #{$md} {
                left: 50%;
                scale: 2;
            }

            @include transition();

            path {
                fill: currentColor;
            }
        }

        &:hover {
            svg {
                @include transition();
            }
        }
    }
}
