/* stylelint-disable */

.acfm-footer-logo {
    display: flex;
    justify-content: center;
    transform: scale(0.5);

    @media #{$md} {
        display: block;
        margin-left: 13rem;
    }

    &__link {
        @include logo-dimensions(210, 30, 50, 280);

        display: block;
        height: 10rem;
        margin-bottom: 2em;
        color: currentColor;

        svg {
            position: relative;
            transform: scale(2.5);
            @include transition();

            @media #{$md} {
                right: 4rem;
            }

            path {
                fill: currentColor;
            }
        }

        &:hover {
            svg {
                @include transition();
            }
        }
    }
}
