/* stylelint-disable */

.prfwp-brand {
    @include logo-dimensions(350, 52, 40, 350);

    display: block;
    max-width: 25vw;
    height: 2em;
    color: $brand_dark;
    transform-origin: center left;

    @media #{$md} {
        width: 20.82692em;
        max-width: 45vw;
    }
}
