// stylelint-disable
@mixin button {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 4rem;
    padding: 2.5rem 5rem;
    margin: 0.5rem;
    font-weight: $font_weight_medium;
    line-height: 1;
    color: $brand_white;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    cursor: pointer;
    background: $brand_primary;
    border: 1px solid $brand_primary;
    border-radius: $brand_button_radius;
    transition: all 0.2s ease-in;
    @media #{$until_xl} {
        width: auto;
    }
}

@mixin buttonEffect($color, $border_colored) {
    &:hover,
    &:focus {
        color: $color;
        background: transparent;
        border: 1px solid $border_colored;
    }
}

.ripple {
    position: absolute;
    pointer-events: none;
    background: $brand_white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripples 1s linear;
}

@keyframes ripples {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

@mixin button_sm {
    height: em(30, 16);
}

@mixin button_lg {
    @include font-size-sm();
    height: em(55, 18);
}

@mixin button_secondary {
    @include button();
    overflow: hidden;

    color: $brand_white;
    border: 2px solid $brand_white;
    .acfm-btn__label {
        z-index: 10;
    }

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: $brand_dark;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
        transform: translateX(-182px);
    }

    &:hover {
        color: $brand_white;
        &::after {
            transform: translateX(10px);
        }

        svg.svg-arrow {
            z-index: 10;
            width: 25%;
            height: 100%;
            background: white;
            border-radius: 5rem;
            transform: translate(-5px, -15px);
            fill: black;

            use {
                transform: translate(15px, 15px);
            }
        }
    }
}

@mixin button_primary {
    @include button();
    @include transition();
    border: 1px solid $brand_primary;

    &:hover {
        color: $brand_primary;
        background: transparent;
        border: 1px solid $brand_primary;
    }
}

@mixin button_outline {
    @include button();
    @include transition();
    color: $brand_white;
    background: transparent;
    border: 1px solid $brand_dark;

    @include buttonEffect($brand_primary, $brand_primary);
}

@mixin button_more {
    @include button();

    display: flex;
    align-items: center;
    padding: 0;
    font-weight: $font_weight_medium;
    color: $brand_primary;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $brand_primary_active;
    }
}
