.acfm-menu {
    break-inside: avoid-column;

    &__menu {
        padding: 0 0 0 0.5em;
        margin: 0 0 0.5em;
        list-style: none;
    }

    &__link {
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }
}
